/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Timeline containers */
.timelines-container {
  display: flex;
  gap: 2rem;
  margin-top: 1.25rem;
}
.vis-timeline.vis-bottom.vis-ltr {
  border-left: none;
  border-right: none;
}
.vis-label.vis-group-level-0 {
  border-left-width: 0 !important;
}
.vis-panel.vis-top{
  border-left-width: 0 !important;
  border-left-style: none !important;
}
.vis-item-content{
  white-space: wrap;
  /* max-width: 50px; */
  overflow-x: wrap;
  /* background-color: blueviolet; */
}
.vis-item .vis-item-content{
  white-space: wrap !important;
}
/* .vis-group-level-0{
  background-color: blue;
} */
.vis-item {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.vis-inner {
  font-family: 'Roboto', sans-serif;
  word-break: break-word;
}
.vis-label {
  /* background-color: red; */
  max-width: 120px;
  border: none;
}
/* .vis-labelset {
  color: yellowgreen;
  background-color: yellow;
  gap:0;
  margin: 0;
  box-shadow: none;
} */
